[submodule "submodules/mlx"]
	path = Source/Cmlx/mlx
	url = https://github.com/preternatural-fork/mlx
	branch = ENG-1700
[submodule "submodules/mlx-c"]
	path = Source/Cmlx/mlx-c
	url = https://github.com/preternatural-fork/mlx-c
	branch = ENG-1700
